* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  /* background-color: white; */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  /* padding: 0 30px; */
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

/* nav a:hover {
  background-color: #f0f0f0;
} */

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity));

  backdrop-filter: blur(10px);
}

.sidebar a {
  width: 100%;
}

.sidebar li {
  width: 100%;
}

.menuButton {
  display: none;
}

@media screen and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menuButton {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
