* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e3e3e3;
}

nav a:hover {
  color: #d87d4a;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 250px;
  z-index: 999;
  box-shadow: -10 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding-left: 2em;
  padding-top: 1em;

  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  backdrop-filter: blur(10px);
}

.sidebar a {
  width: 100%;
}

.sidebar li {
  width: 100%;
}

.menuButton {
  display: none;
}

@media screen and (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }

  .menuButton {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* CSS Modules feature */
nav a:global(.active) {
  color: #d87d4a;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: #d87d4a;
  color: #e3e3e3;
}
